.option {
	line-height: 2em;
	display: flex;
	margin: 20px;

	label,
	input[type="text"],
	input[type="number"] {
		display: block;
	}

	label {
		width: 8em;
	}

	input[type="text"],
	input[type="number"] {
		flex: auto;
	}
}

.long-text {
	display: flex;
	flex-direction: row;
	input[type="text"],
	input[type="number"] {
		flex: 1 1 auto;
		margin: 20px;
	}
}

.button-area {
	text-align: center;
	margin: 20px 0;
}
