<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="author" content="Kazuichi Takashiro">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ if .Title }}{{ .Title }} - {{ end }} {{ .Site.Title }}</title>
	{{ $style := resources.Get "style/global.scss" | resources.ToCSS | minify }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
</head>
