{{ define "main" }}
	<div class="option">
		<label for="length">Length</label><input type="number" id="length" name="length" value="32">
	</div>
	<div class="option">
		<label for="num">Num</label><input type="number" id="num" name="num" value="1">
	</div>
	<div class="long-text" id="output">
		<input type="text">
	</div>
	<div class="button-area">
		<button type="button" id="generate-button">Generate</button>
	</div>
	{{ $built := resources.Get "scripts/genpw.ts" | js.Build }}
	<script src="{{ $built.RelPermalink }}"></script>
{{ end }}
